<div class="bar">
  <a href="#!" class="gt-logo"><img src="/img/gt-logo.png" alt="Game-tournaments.com"></a>
  <div class="bar-menu">
    <div class="bar-block">
      <a href="#!" class="bar-ava"><img src="/img/uava.png" alt="User"></a>
      <div class="bar-username">
        <a href="#!" class="bar-name">Алексей Kleale</a>
        <div class="bar-links">
          <span class="bar-label">pro</span>
          <a href="#!" class="u-opt"><i class="gticon gticon-wrench"></i></a>
          <a href="#!" class="u-off"><i class="gticon gticon-power-off"></i></a>
        </div>
      </div>
    </div>
    
  </div>
</div>
