<div class="subs">
  <span>
    напомнить мне<br>
    об этом матче
  </span>
  <div>
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="gti-clock-o"></i> За 1 час <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">За 1 час</a></li>
        <li><a href="#">За 2 часа</a></li>
        <li><a href="#">За 12 часов</a></li>
        <li><a href="#">За 24 часа</a></li>
      </ul>
    </div>
  </div>
  <div>
    <i class="gti-envelope-o"></i>
    <input class="form-control input-sm" type="text" placeholder="Email адрес">
  </div>
  <a href="" class="btn-input btn btn-sm btn-primary">OK</a>
</div>
<div class="iframer">
  <iframe rel="stream" site="twitch" title="starladder1" allowfullscreen="" frameborder="0" width="100%" height="100%" src="http://player.twitch.tv/?autoplay=false&amp;channel=starladder1"></iframe>
</div>
<div class="bn">
  <img src="img/ad_player.jpg" alt="">
</div>

<!-- NO -->
<!--
  <div class="white_noize"> 
    <div class="nostream">   
        <i class="fa fa-frown-o"></i> нет стримов
    </div>
  </div>
-->