<!-- Teams compare -->

<section id="m-sravni" class="m-sec m-odd">
  <div class="block">
    <div class="bh clearfix">
      <h3>
        <i class="ih gti-exchange"></i>
        Сравнение команд
        <i data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="О сравнении" class="inf gti-info-circle"></i>
      </h3>
      <div class="rigter">
        <b>Этот матч</b>
        <div class="dropdown">
          <button class="btn btn-sm btn-default dropdown-toggle" type="button" data-toggle="dropdown">
             Команда
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        <div class="dropdown">
          <button class="btn btn-sm btn-default dropdown-toggle" type="button" data-toggle="dropdown">
             Игрок
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
      </div>
    </div><!-- bh -->
    
    <div class="block-content">
      <div class="spider">
        <div class="row">
          <div class="col-sm-4">
            <div class="sr_t sr_t1">
              <a class="sr_pic" href="">
                <img src="http://game-tournaments.com/media/logo/_60/pic-20160415-256x187-3994387532.png">
              </a>
              <div>
                <h3>London</h3>
                <u>Лучше в 14 показателях</u>
                <span class="thumb"><i class="gti-thumbs-o-up"></i><b>123</b><!--<i class="gti-thumbs-o-down"></i>--></span>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div id="spider_chart">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="sr_t sr_t2">
              <a class="sr_pic" href="">
                <img src="http://game-tournaments.com/media/logo/_60/pic-20160415-256x187-3994387532.png">
              </a>
              <div>
                <h3>Secret</h3>
                <u>Лучше в 14 показателях</u>
                <span class="thumb">
                <b>123</b><!--<i class="gti-thumbs-o-down"></i>-->
                <i class="gti-thumbs-up active"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="teams_stats">
        <div class="teams_bars">
          <div class="tbs1">
            <table>
              <tr>
                <th>RANK</th>
                <td>53</td>
              </tr>
              <tr>
                <th>APR</th>
                <td>46</td>
              </tr>
              <tr>
                <th>MATCHES</th>
                <td class="red">53</td>
              </tr>
              <tr>
                <th>WINS</th>
                <td>46</td>
              </tr>
              <tr>
                <th>KDA</th>
                <td class="green">53</td>
              </tr>
            </table>
          </div>
          <div class="tbsb">
            <div id="teams_compare"></div>
          </div>
          <div class="tbs2">
            <table>
              <tr>
                <td>5</td>
                <th>RANK</th>
              </tr>
              <tr>
                <td class="red">4</td>
                <th>APR</th>
              </tr>
              <tr>
                <td>55</td>
                <th>MATCHES</th>
              </tr>
              <tr>
                <td>44</td>
                <th>WINS</th>
              </tr>
              <tr>
                <td class="green">55</td>
                <th>KDA</th>
              </tr>
            </table>
          </div>
        </div>
        <div class="team_s_t tst1">
          <table>
            <tr>
              <th>Форма</th>
              <td class="red">34</td>
            </tr>
            <tr>
              <th>Побед</th>
              <td class="green">10</td>
            </tr>
            <tr>
              <th>Поражений</th>
              <td>11</td>
            </tr>
            <tr>
              <th>Игр в мес.</th>
              <td>60</td>
            </tr>
            <tr>
              <th>П-П</th>
              <td>890</td>
            </tr>
          </table>
        </div>
        <div class="team_s_t tst2">
          <table>
            <tr>
              <td class="red">34</td>
              <th>Форма</th>
            </tr>
            <tr>
              <td>10</td>
              <th>Побед</th>
            </tr>
            <tr>
              <td>11</td>
              <th>Поражений</th>
            </tr>
            <tr>
              <td>60</td>
              <th>Игр в мес.</th>
            </tr>
            <tr>
              <td>890</td>
              <th>П-П</th>
            </tr>
          </table>
        </div>
      </div>
      
    </div><!-- block-content -->
  </div><!-- block -->

</section>
<!-- /Teams compare -->