<!-- /match-page/section-news.html -->
<div class="block m-news">
  <div class="bh clearfix">
    <h3>
      <i class="ih gti-newspaper-o"></i>
      Новости
    </h3>
    <ul class="block-menu" role="tablist">
      <li class="active"><a id="k_tab" href="#tzn" role="tab" data-toggle="tab">ВСЕ</a></li>
      <li><a id="k_graf" href="#tgraf" role="tab" data-toggle="tab"><i class="gti-gtlogo"></i></a></li>
      <li><a id="k_hist" role="tab" data-toggle="tab" href="#thist"><i class="gti-rss"></i></a></li>
    </ul>
  </div><!-- bh -->
  <div class="tab-content">
    <div class="tse-sc tse-news">
        <div class="tse-content">
          <ul>
            {% for i in 0..10 %}
            <li>
              <a class="npic" href="">
                <img src="../img/news.jpg" alt="">
              </a>
              <div>
                <h4><a href="">
                  IEM Katowice — дебют обновленного RuHub!
                </a></h4>
                <p>
                  Совсем недавно Virtus.pro совместно с RuHub и Storm Studio объявили о слиянии и начале совместной работы ...
                </p>
                <u>
                  <i class="gti-gtlogo"></i> &nbsp; 
                  29.02.2016   21:21  &nbsp; &nbsp;
                  
                  <i class="gti-comments-o"></i> &nbsp; 12
                </u>
                <span>
                  <a href="" class="shr"><i class="gti-vk"></i>993</a>
                  <a href="" class="shr"><i class="gti-facebook"></i>123</a>
                  <a href="" class="shr"><i class="gti-twitter"></i>13</a>
                  <a href="" class="shr"><i class="gti-google-plus"></i>12</a>
                </span>
              </div>
            </li>
            {% endfor %}
          </ul>
          <div class="no100"><i class="gti-info-circle"></i> Ничего нет</div>
        </div>
    </div>
  </div>
</div>

<!-- /section NEWS -->