<section id="m-sravni" class="m-sec m-odd">
  <div class="block">
    <div class="bh clearfix">
      <h3>
        <i class="ih gti-dice"></i>
        Коэффициенты
        <i data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="О площадке + дополнительные сведения о матче" class="inf gti-info-circle"></i>
      </h3>
      <ul class="block-menu" role="tablist">
        <li id="k_tab" class="active"><a href="#tzn" role="tab" data-toggle="tab">Значения</a>
        <li><a id="k_graf" href="#tgraf" role="tab" data-toggle="tab">График</a>
        <li><a id="k_hist" role="tab" data-toggle="tab" href="thist">История</a>
      </ul>
    </div><!-- bh -->
    
    <div class="block-content">
      
      
      
    </div><!-- block-content -->
  </div><!-- block -->

  
</section>