<!-- Picks -->
<div class="block">
  <div class="bh clearfix">
    <h3>
      <i class="ih gti-exchange"></i>
      Пики и баны
      <i data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="О сравнении" class="inf gti-info-circle"></i>
    </h3>
  </div><!-- bh -->

  <div class="block-content">
    
    <div class="pik1">
      <a href="" class="mtp"><img src="http://game-tournaments.com/media/logo/_60/pic-20160415-256x187-3994387532.png"></a>
      <a href="">Secret</a>
    </div>
    
    <div class="rigter">
      <b>Выбрать расклад</b>
      <div class="dropdown">
        <button class="btn btn-sm btn-default dropdown-toggle" type="button" data-toggle="dropdown">
           Начинают: Secret
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Начинают: Secret</a></li>
          <li><a href="#">Начинают: London</a></li>
        </ul>
      </div>
    </div>
    
    <ul class="pik-line">
      <li class="h-pik">
        <a href="" class="hvert hpop"><img src="img/herov.jpg" alt="Имя героя"><span>2 <u>98%</u><span></a>
        <a href="">Вася пупкин</a>
      </li>
      <li class="h-ban">
        <a href="" class="hvert hpop"><img src="img/herov.jpg" alt="Имя героя"><span>2 <u>98%</u><span></a>
        <a href="">Вася пупкин</a>
      </li>
    
    </ul>
    
  </div>
</div>
<!-- /Picks -->