<!-- match-list/match-top.html -->

<h3 class="mh-top"><span>Топ матч дня</span></h3>
<div class="m-top-block">
  <table>
    <tr>
      <td class="mt1">
        <a href="" class="mtp"><img src="http://game-tournaments.com/media/logo/_60/pic-20160415-256x187-3994387532.png"><b>11</b></a>
      </td>
      <td>
        <a class="m-top-link" href="">
          <span><i>Braveheart.Zombie</i></span>
          <span><em>VS</em></span>
          <span><i>Vici Gaming Reborn</i></span>
        </a>
        <u class="time">26 апр в 12:00</u>
      </td>
      <td class="mt2">
        <a href="" class="mtp"><img src="http://game-tournaments.com/media/logo/_60/pic-20160415-256x187-3994387532.png"><b>1</b></a>
      </td>
    </tr>
  </table>
</div>

<h3 class="mh-top"><span>Самый ожидаемый</span></h3>
<div class="m-top-block">
  <table>
    <tr>
      <td class="mt1">
        <a href="" class="mtp"><img src="http://game-tournaments.com/media/logo/_60/pic-20160415-256x187-3994387532.png"><b>11</b></a>
      </td>
      <td>
        <a class="m-top-link" href="">
          <span><i>Braveheart.Zombie</i></span>
          <span><em>VS</em></span>
          <span><i>Vici Gaming Reborn</i></span>
        </a>
        <u class="time">26 апр в 12:00</u>
      </td>
      <td class="mt2">
        <a href="" class="mtp"><img src="http://game-tournaments.com/media/logo/_60/pic-20160415-256x187-3994387532.png"><b>1</b></a>
      </td>
    </tr>
  </table>
</div> 

<h3 class="mh-top"><span>Финал</span></h3>
<div class="m-top-block">
  <table>
    <tr>
      <td class="mt1">
        <a href="" class="mtp"><img src="http://game-tournaments.com/media/logo/_60/pic-20160415-256x187-3994387532.png"><b>11</b></a>
      </td>
      <td>
        <a class="m-top-link" href="">
          <span><i>Braveheart.Zombie</i></span>
          <span><em>VS</em></span>
          <span><i>Vici Gaming Reborn</i></span>
        </a>
        <u class="time">26 апр в 12:00</u>
      </td>
      <td class="mt2">
        <a href="" class="mtp"><img src="http://game-tournaments.com/media/logo/_60/pic-20160415-256x187-3994387532.png"><b>1</b></a>
      </td>
    </tr>
  </table>
</div> 

<h3 class="mh-top"><span>Выбор GT</span></h3>
<div class="m-top-block">
  <table>
    <tr>
      <td class="mt1">
        <a href="" class="mtp"><img src="http://game-tournaments.com/media/logo/_60/pic-20160415-256x187-3994387532.png"><b>11</b></a>
      </td>
      <td>
        <a class="m-top-link" href="">
          <span><i>Braveheart.Zombie</i></span>
          <span><em>VS</em></span>
          <span><i>Vici Gaming Reborn</i></span>
        </a>
        <u class="time">26 апр в 12:00</u>
      </td>
      <td class="mt2">
        <a href="" class="mtp"><img src="http://game-tournaments.com/media/logo/_60/pic-20160415-256x187-3994387532.png"><b>1</b></a>
      </td>
    </tr>
  </table>
</div> 

<h3 class="mh-top"><span>Лучшие коэффициенты GT</span></h3>
<div class="m-top-block">
  <table>
    <tr>
      <td class="mt1">
        <a href="" class="mtp"><img src="http://game-tournaments.com/media/logo/_60/pic-20160415-256x187-3994387532.png"><b>11</b></a>
      </td>
      <td>
        <a class="m-top-link" href="">
          <span><i>Braveheart.Zombie</i></span>
          <span><em>VS</em></span>
          <span><i>Vici Gaming Reborn</i></span>
        </a>
        <u class="time">26 апр в 12:00</u>
      </td>
      <td class="mt2">
        <a href="" class="mtp"><img src="http://game-tournaments.com/media/logo/_60/pic-20160415-256x187-3994387532.png"><b>1</b></a>
      </td>
    </tr>
  </table>
</div> 


<h3 class="mh-top"><span>Выбор Pro-игроков</span></h3>
<div class="m-top-block">
  <table>
    <tr>
      <td class="mt1">
        <a href="" class="mtp"><img src="http://game-tournaments.com/media/logo/_60/pic-20160415-256x187-3994387532.png"><b>11</b></a>
      </td>
      <td>
        <a class="m-top-link" href="">
          <span><i>Braveheart.Zombie</i></span>
          <span><em>VS</em></span>
          <span><i>Vici Gaming Reborn</i></span>
        </a>
        <u class="time">26 апр в 12:00</u>
      </td>
      <td class="mt2">
        <a href="" class="mtp"><img src="http://game-tournaments.com/media/logo/_60/pic-20160415-256x187-3994387532.png"><b>1</b></a>
      </td>
    </tr>
  </table>
</div> 


<h3 class="mh-top"><span>Выбор прогнозистов</span></h3>
<div class="m-top-block">
  <table>
    <tr>
      <td class="mt1">
        <a href="" class="mtp"><img src="http://game-tournaments.com/media/logo/_60/pic-20160415-256x187-3994387532.png"><b>11</b></a>
      </td>
      <td>
        <a class="m-top-link" href="">
          <span><i>Braveheart.Zombie</i></span>
          <span><em>VS</em></span>
          <span><i>Vici Gaming Reborn</i></span>
        </a>
        <u class="time">26 апр в 12:00</u>
      </td>
      <td class="mt2">
        <a href="" class="mtp"><img src="http://game-tournaments.com/media/logo/_60/pic-20160415-256x187-3994387532.png"><b>1</b></a>
      </td>
    </tr>
  </table>
</div> 