/*
  Player
*/

.player{
  
}

.toggled_stream{
  position: relative;
  background-image: url(../img/section_bg_1.jpg);
  /*background: $bg-sub;*/
  background: #0B0C0C;
  
  .srteamtoggle {
    transition: $tease;
    background: $bg-sub;
    background-image: inline(../img/tile.png);
    background-repeat: repeat;
    background-position: center;
    width: 450px;
    position: absolute 0 0 0 *;
    
    @media (max-width: $XM){
      width: 100%;
      position: relative * * * *;
      width: 100%;
      height: 460px;
      overflow: hidden;
    }
  }
}

.st_inner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}

.stream_action {
    overflow: hidden;
}

.player-menu{
  display: table;
  width: 100%;
  text-align: center;
  list-style: none;
  padding: 0;
  background-image: inline(../img/nav-line1.png);
  background-repeat: no-repeat;
  background-position: 0 100%;
  
  li{
    display: table-cell;
    a{
      transition: $tease;
      display: block;
      color: $link-gray-1;
      font-size: 12px;
      text-transform: uppercase;
      cursor: pointer;
      padding: 15px 5px;
      background-position: 50% 30px;

      &:hover,
      &:active,
      &:focus{
        color: $link-gray-active;
        text-decoration: none;
        background-color: transparent;
      }
      i{
        display: block;
        font-size: 16px;
        margin-bottom: 4px;
      }
    }
    &.active a{
      color: $link-gray-active;
      cursor: default;
      background-image: inline(../img/nav-cur.png);
      background-repeat: no-repeat;
      background-position: 50% 100%;
    }
  }
}/*player-menu*/

.stmblocks{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1b3540+0,1b3540+100&1+0,0+100 */
  background: linear-gradient(to bottom,  rgba(27,53,64,1) 0%,rgba(27,53,64,0) 100%);
  position: absolute 67px 0 0 0
}
.stmblock{
  position: absolute 0 0 0 0;
  display: none;
  
  &.active{
    display: block!important;
  }
  
  .tse-scroll-content{
    min-width: 100%;
    min-height: 400px;
  }
  
  .tse_slist{
    height: 445px;
    position: absolute 40px 0 0 0;
    overflow-x: hidden;
  }
  
}

/*
* Stream list
*/

.subm{
  padding: 10px 15px 5px;
  position: relative;
  
  span{
    cursor: pointer;
  }
  .dropdown{
    display: inline-block;
  }
  .dropdown-menu {
    padding: 3px 0;
    input{
      margin: -3px 5px -3px 0;
      line-height: 1;
      vertical-align: sub;
      display: inline-block;
    }
    li span {
      padding: 5px 10px;
      display: block;
      font-size: 11px;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
  
  .btn{
    margin-right: 5px;
  }
  em{
    transition: $tease;
    color: $link-gray-1;
    text-decoration: none;
    font-size: 16px;
    padding: 3px;
    margin: 3px;
    position: relative;
    top: 3px;
    text-shadow: 1px 1px 2px rgba(0,0,0,.3);
    cursor: pointer;
    
    &:hover,
    &:active,
    &:focus,
    &.active{
      text-decoration: none;
      color: $link-blue-active;
    }
  }
}/*subm*/


.sview {
  margin-right: 450px;
  background: #292828;
  position: relative;
  
  @media (max-width: $XM){
    margin-right: 0;
  }
  
  .iframer{
    position: relative;
    height:460px;
  }
  .bn{
    img{
      width: 100%;
    }
  }
}
  
.subs{
  position: absolute 10px 10px * *;
  z-index: 2;
  padding: 5px 5px 1px 5px;
  background: rgba(0, 0, 0, 0.48);
  display: table;
  
  @media (max-width: $XM){
    width:100%;
  }
  
  @media (max-width: $XM){
    position: relative 0 0 0 0;
    padding: 15px;
    background-image: inline(../img/tile.png);
    background-color: transparent;
  }
  
  > span{
    text-transform: uppercase;
    font-size: 11px;
    color: $text-main;
    display: block;
    padding: 0px;
    float: left;
    margin-right: 15px;
    line-height: 1.5;
  }
  > div{
    display: table-cell;
    position: relative;
    vertical-align: top;
    
    button,
    input{
      display: block;
      width:97%;
    }
    
    > div{
      @media (max-width: $XM){
        width:100%;
      }
    }
  }
  
  input{
    width:140px;
    padding-left: 30px;
    text-transform: uppercase;
  }
  .btn-input{
    display: inline-block;
    margin-left: -5px;
    border-radius: 0;
    position: relative;
  }
  i.gti-envelope-o{
    position: absolute 7px * * 8px;
    color: #8F8F8F;
  }
  i.gti-clock-o{
    margin-right: 4px;
    font-size: 14px;
    position: relative;
    top: 2px;
  }
}

.stmblock{
  &:after{
    content: '';
    position: absolute * 0 -1px 0;
    height: 30px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#252a2c+0,252a2c+99&0+0,1+100 */
    background: linear-gradient(to bottom, rgba(37,42,44,0) 0%,rgba(37,42,44,0.99) 89%,rgba(37,42,44,1) 90%);
  }
}
.slist{
  list-style: none;
  margin: 0;
  padding: 0;
  
  li{
    transition: $tease;
    padding: 10px 15px;
    opacity: .5;
    position: relative;
    overflow: hidden;
    
    &:hover{
      opacity: 1;
    }
    &.active{
      opacity: 1;
    }
    &.active em{
      opacity: 1;
      border: transparent;
      background: $button-blue;
      color: $button-blue-text;
    }
    &.active:hover strong{
      cursor: default;
    }
    &.active:hover img{
      cursor: default;
    }
    &.vod span:after{
      content: 'видео';
      display: block;
      padding: 3px 5px;
      font-size: 11px;
      font-weight: 300;
      line-height: 1;
      position: absolute 0 * * 0;
      background: $button-blue;
      color: $button-blue-text;
    }
    &.devide{
      text-align: center;
      background-image: inline(../img/devider.png);
      background-position: center;
      background-repeat: no-repeat;
      margin: -10px 0;
      padding: 0;

      figure{
        border-radius: 20px;
        background: rgba(2, 2, 2, 0.9);
        padding: 5px 15px;
        color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(255, 255, 255, 0.46);
        font-size: 12px;
        line-height: 1;
        text-transform: uppercase;
        display: inline-block;
      }
    }
    span{
      float: left;
      position: relative;
      width:115px;
      cursor: pointer;
      
      img{
        width:100%;
      }
      time{
        position: absolute * 3px 3px *;
        background: rgba(2, 2, 2, 0.6);
        padding: 3px 5px;
        color: rgba(255, 255, 255, 0.8);
        border-radius: $br;
        border: 1px solid rgba(255, 255, 255, 0.46);
        font-size: 12px;
        line-height: 1;
      }
    }
    div{
      margin-left: 130px;
      margin-right: 50px;
      white-space: nowrap;
      font-size: 12px;
      line-height: 1.3;
      color: rgba(255, 255, 255, 0.8);
      color: $text-gray-3;
      
      strong{
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 14px;
        font-weight: 300;
        white-space: normal;
        color:  $text-main;
        cursor: pointer;
      }
      u{
        text-decoration: none;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    em{
      transition: $tease;
      position: absolute 50% 20px * *;
      font-size: 18px;
      font-family: 'gticons';
      color: $text-main;
      opacity: .5;
      width: 34px;
      height: 34px;
      line-height: 34px;
      border: 1px solid #fff;
      border-radius: 50%;
      margin-top: -17px;
      font-style: normal;
      text-align: center;
      cursor: pointer;

      &:after{
        content:'';
      }
      &:hover{
        transform: scale(1.2);
        opacity: .7;
      }
    }
  }
}/*slist*/
/* .Stream list*/



