/*
* Matchpage
*/

.mhead{
  background: $bg-main url(../img/$section_bg_1) repeat 50% 50%;
  position: relative;
  padding: 50px;
  
  @media (max-width: $XM){
    text-align: center;
  }
}

.stage{
  text-align: center;
  position: relative;
  margin: -65px -40px 20px;
  
  ul{
    list-style: nonel;
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;
    
    li{
      display: table-cell;
      vertical-align: top;
      padding: 0 5px;
      @media (max-width: $M){
        display:none;
      }
      
      &.active{
        @media (max-width: $M){
          display:block;
        }
      }
      
      a{
        display: inline-block;
        color: $button-gray-text;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 11px;
        
        b{
          background: $button-gray;
          display: inline-block;
          width:30px;
          height: 30px;
          line-height: 31px;
          font-size: 14px;
          font-weight: 600;
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
          border-radius: 50%;
          margin-bottom: 5px;
        }
        span{
          display: block;
        }
      }
      
      &.s-pass a b,
      &.active a b{
        background: $button-blue;
        color: $button-blue-text;
      }
      &.s-pass a b{
        background: color($button-blue b(50%));
        color: color($button-blue b(30%));
      }
      &.s-pass a span,
      &.active a span{
        color: color($button-blue b(30%));
      }
    }
  }
  
}/** STAGE **/

.rating{
  overflow: hidden;
  display: inline-block;
  font-size: 16px;
  padding: 1px 3px 1px 0;
  position: relative;
  top: 4px;
  
  span {
    display: block;
    float: right;
    font-family: gticons;
    font-style: normal;
    font-weight: normal;
    cursor: pointer;
    
    &:before {
      color: color($link-light-blue b(60%));
      content: "";
      padding-right: 4px;
    }
    &:hover:before,
    &:hover ~ span:before{
      color: #f6c000;
      content: "";
    }
    &.starred:before{
      color: #f6c000;
      content: ""; 
    }
    &.starred-half:before{
      color: #f6c000;
      content: ""!important; 
    }
  }

}
.rgg{
  background: $button-blue;
  color: $button-blue-text;
  padding: 4px 5px 2px;
  border-radius: 3px;
  font-weight: 300;
  font-size: 12px;
  line-height: 1;
}

.m-title{
  font-size: 19px;
  font-weight: 300;
  text-align: center;
  margin: 4px 0 25px;
  line-height: 1;
  
  span{
    position: relative;
  
    &:after{
      content: inline(../img/hline1.png);
      position: absolute -4px * * 100%;
      margin-left: 5px;
    }
    &:before{
      content: inline(../img/hline.png);
      position: absolute -4px 100% * *;
      margin-right: 5px;
    }
  }
}

.mrs {
  text-align: right;
}
