/*
  teams.html
*/

.temsList{
  thead{
    th{
      text-align: left;
      font-size: 10px;
      background: #424f5a url(http://game-tournaments.com/html/img/spoiler.png) repeat scroll 0 0;
    }
  }
  .mtable{
    .t-item{
      td{
        padding: 0;
        
        h4{
          font-size: 13px;
        }
      }
    }  
  }
}
