/*
  Layout
*/
body{
  background: #1b1b1b url(../img/bg_news.jpg) 50% 50% repeat;
  @media (max-width: $XM) {
    padding-left: 0;
  }
}
body .mainwrap{
  padding-top: 80px;
  position: relative;
  @media (max-width: $L) {
    padding-top: 70px;
  }
  @media (max-width: 1200px) {
    padding-top: 150px;
  }
  @media (max-width: $XM) {
    padding-top: 106px;
  }
}
.otstup{
  position: relative;
  z-index: 2;
}
.bread{
  position: absolute 0 * * *;
  margin-left: -1px;
  z-index: 2;
  background: #3d4e5d;
  font-size: 11px;
  ol{
    display: block;
    overflow: hidden;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    height: 30px;
    padding: 5px 10px;
    li {
      display: inline-block;
      overflow: hidden;
      max-width: 460px;
      text-overflow: ellipsis;
      color: #a6c6cb;
      a {
        color: $link-light-blue;
        text-decoration: none;
        &:active,
        &:focus,
        &:hover{
          text-decoration: none;
          color: $link-light-blue-active;
        }
      }
    }
  }
}

/** ========================
* Header menu
**/
@media (min-width: $L){
.chat-open .header{
    right: 300px;
  }
}
.header{
  background-color: rgb(66, 86, 105);
  background-position: center 140px;
  background-image: url(../img/pava.png);
  position: fixed 0 * * 0;
  height: 81px;
  width: 100%;
  z-index: 20;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
  transition: height 300ms cubic-bezier(0.165,0.840,0.440,1.000);
  > *{
    position: relative;
    z-index: 1;
  }
  *{
    transition: all 300ms cubic-bezier(0.165,0.840,0.440,1.000);
  }
  @media (max-width: $XM){
  height: auto;
  }
  &.outgame{
    height: auto;
  }
  .headerwr{
    max-width: 1200px;
    margin: auto;
    @media (max-width: $XXL){
      max-width: 1000px;
    }
    @media (max-width: $L){
      max-width: 940px;
    }
    @media (max-width: 1100px){
      max-width: none;
    }
    @media (max-width: $XM){
      padding: 0 50px;
    }
    .topper{
      height: 30px;
      overflow: hidden;
      &:hover{
        overflow: visible;
      }
      @media (min-width: $XM) and (max-width: 1100px){
        width: auto;
        padding: 0 50px;
      }
      @media (max-width: $XM){
        height: 40px;
      }
    }
    .u-block{
      float: right;
      font-size: 10px;
      padding: 5px 5px 4px;
      text-transform: uppercase;
      font-weight: bold;
      line-height: 1.5;
      @media (max-width: $XM){
        padding: 8px 5px 4px;
        font-size: 12px;
      }
      a{
        display: inline-block;
        padding: 2px 8px;
        margin-left: 5px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        span{
          margin-left: 4px;
          @media (max-width: $M) {
            display: none;
          }
        }
        &.btn-log,&.btn-reg{
          border-radius: 10px;
          background: $green;
          color: #fff;
          &:hover,
          &:focus{
            text-decoration: none;
            background: $orange;
            color: #fff;
          }
        }
        &.btn-reg{
          background: #424f5a;
          color: #99a8ab;
        }
      }
    }
    .u-block-log{
      float: right;
      .bar-ava{
        display: block;
        width: 23px;
        height: 23px;
        overflow: hidden;
        border-radius: 50%;
        float: left;
        margin-top: 4px;
        @media (max-width: $XM){
          width: 30px;
          height: 30px;
          margin-top: 5px;
        }
        @media (max-width: $M){
          margin-right: 10px;
        }
        img{
          width: 100%;
          border-radius: 50%;
        }
      }
      .username{
        padding: 0 5px 0px 30px;
        line-height: 30px;
        height: 30px;
        font-size: 12px;
        @media (max-width: $XM){
          line-height: 40px;
          height: 40px;
          font-size: 14px;
          padding: 0 15px 0px 40px;
        }
        @media (max-width: $M){
          display: none;
        }
        .bar-name{
          display: inline-block;
          max-width: 100px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          vertical-align: middle;
          &:hover,
          &:focus{
            text-decoration: none;
          }
          @media (max-width: $M){
            display: none;
          }
        }
        .status{
          @media (max-width: $M){
            display: none;
          }
        }
        .u-opt, .u-off{
          padding: 0 5px 0 5px;
          vertical-align: -2px;
          &:hover,&:focus{
            text-decoration: none;
          }
          @media (max-width: $XM){
            display: none;
          }
        }
      }
    }
    .dropers{
      float: right;
      .s-lang{
        display: inline-block;
        background: rgba(27, 42, 56, 0.37) url(../img/spoiler.png) repeat scroll 0 0;
        .dla{
          font-size: 12px;
          padding: 7px;
          height: 30px;
          display: block;
          cursor: pointer;
          text-transform: uppercase;
          &:hover,
          &:active{
            text-decoration: none;
          }
          @media (max-width: $XM){
            padding: 10px 8px;
            height: 40px;
            font-size: 14px;
            span{
              display: none;
            }
          }
        }
        .dropdown-menu{
          right: 0;
          left: auto;
        }
      }
      .s-time{
        display: inline-block;
        @media (max-width: $XM){
          
        }
        em{
          font-style: normal;
        }
        b{
          display: none;
        }       
        .caret{
          float: none;
          margin: inherit;
        }
        .sub{
          padding: 7px;
          font-size: 12px;
          height: 30px;
          opacity: 1;
          display: block;
          cursor: pointer;
          &:hover,
          &:active{
            text-decoration: none;
          }
          @media (max-width: $XM){
            padding: 10px 8px;
            height: 40px;
            font-size: 14px;
          }
        }
        .dropdown-menu{
          right: 0;
          left: auto;
        }
        @media (max-width: $XM){
          em,span{
            display: none;
          }
          b{
            display: inline;
            margin: 0 5px;
          }
        }
      }
    }
    .tab-content{
      transition-delay: 300ms;
      @media (max-width: $XM){
        padding-left: 50px;
        display: none;
        &.open{
          display: block;
          left: 0;
          right: 0;
          position: absolute;
          top: 75px;
        }
      }
      @media (max-width: $XM){
        position: absolute;
        background: #2b3b49;
        padding: 0;
        .gamehome{
          display: none;
        }
        .homenav-sub{
          padding: 10px;
        }
      }
    }
  }
}

.homenav{
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 11px;
  height: 30px;
  @media (max-width: $XM){
    height: 37px;
    position: absolute;
    top: 38px;
    left: 0;
    right: 0;
    background: #1b2732;
    text-align: center;
    padding: 0 12px;
    display: none;
    &.open{
      display: block;
    }
  }
  li{
    float: left;
    &.active{
      a{
        background: rgba(30, 37, 43, 0.41);
        color: #fff;
        text-shadow: none;
        &:focus,
        &:active{
          background: rgba(30, 37, 43, 0.41) url(../img/spoiler.png) repeat scroll 0 0;
          color: #fff;
        }
       
      }
    }
    a{
      display: block;
      padding: 7px 15px 7px;
      height: 30px;
      /*color: #8498a0;*/
      transition: $tease;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.44);
      @media (max-width: $XM){
        padding: 8px 8px;
        height: 37px;
        line-height: 28px;
      }
      @media (max-width: $SSM){
        padding: 6px 4px;
      }
      &:hover,
      &:focus,
      &:active{
        text-decoration: none;
        background: #4d5f6f;
        color: #fff;
        text-shadow: none;
      }
      i{
        font-size: 16px;
        vertical-align: -3px;
        @media (max-width: $XM){
           font-size: 21px;
        }
      }
      span{
        text-transform: uppercase;
        font-weight: 700;
        margin-left: 10px;
        @media (max-width: $XM){
          display: none;
        }
      }
    }
  }
}

.gg-logo{
  display: block;
  padding: 0 7px;
  text-align: center;
  color: #0a2d4a;
  background: #7faec3;
  top: -2px;
  left: 0;
  position: absolute;
  z-index: 100;
  &:hover,
  &:focus,
  &:active{
    background: #037db5;
    text-decoration: none;
    color: #fff;
    &:before,&:after {
      background: #037db5;
    }
  }
  
  i{
    position: relative;
    top: 7px;
    left: 2px;
    margin-right: 0;
    font-size: 34px;
    line-height: 18px;
    @media (max-width: $XM) {
      font-size: 30px;
      line-height: 22px;
    }
  }
  &:after {
      content: '';
      display: block;
      top: 0;
      right: -6px;
      bottom: 0;
      position: absolute;
      width: 11px;
      background: #7faec3;
      transform: skewX(-20deg);
  }
  &:before {
    content: '';
    display: block;
    bottom: -4px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 10px;
    background: #7faec3;
    transform: skewy(-10deg);
  }
  b {
    /*display: block;
    position: absolute;
    color: #253340;
    line-height: 1;
    padding: 1px 3px;
    font-size: 9px;
    transform: none;
    font-style: normal;
    left: 12px;
    bottom: -10px;
    background: #e8b038;
    border-radius: 2px;*/
    
    display: block;
    position: absolute;
    color: #253340;
    line-height: 1;
    padding: 1px 4px 2px 10px;
    font-size: 9px;
    font-style: normal;
    left: -7px;
    top: 31px;
    background: #e8b038;
    border-radius: 2px;
    transform: rotate(-11deg);
    @media (max-width: $XM) {
      display: none;
    }
  }
}

.hamburger{
  display: none;
  &:hover,
  &:focus{
    text-decoration: none;
    color: #fff;
  }
  &.active{
    color: #fff;
  }
  @media (max-width: $XM) {
    display: block;
    height: 37px;
    width: 37px;
    font-size: 21px;
    line-height: 42px;
    text-align: center;
    float: left;
    color: #a6c8d2;
    margin-left: 5px;
  }
  @media (max-width: $SSM) {
    margin-left: 0;
  }
}

.open .homenav-sub{
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #344452 url(../img/pava.png);
  border-top: 1px solid #a6c8d2;
  padding: 10px;
  li{
    width: 50%;
    display: block;
    float: left;
  }
}

.homenav-sub{
  padding: 0 10px;
  margin: 0;
  background: rgba(30, 37, 43, 0.41);
  overflow: hidden;
  list-style: none;
  display: table;
  width: 100%;
  li{
    display: table-cell;
    @media (max-width: $XM) {
      display: block;
      width: 50%;
      float: left;
    }
    a{
      color: #99a8ab;
      padding: 14px 10px;
      height: 50px;
      display: block;
      line-height: 11px;
      text-align: left;
      font-size: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.44);
      transition: $tease;
      @media (max-width: $L) {
        /*padding: 10px 9px;
        font-size: 10px;
        line-height: 10px;*/
      }
      &:hover,
      &:focus,
      &:active{
        text-decoration: none;
        color: #fff;
      }
      i{
        font-size: 22px;
        margin-right: 10px;
        vertical-align: middle;
        float: left;
        @media (max-width: $XM) {
          font-size: 18px;
          margin-right: 10px;
          vertical-align: middle;
          float: left;
        }
      }
      span{
        text-transform: uppercase;
        font-weight: 700;
        display: block;
        float: left;
        margin-top: 6px;
        .label{
          background: #03547a;
        }
      }
    }
    &.active a{
      color: #fff;
    }
  }
}
.gamehome{
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  text-align: center;
  background: #7faec3;
  transform: rotateY(90deg);
  transform-origin: 0 0;
  transition-delay: 300ms;
  @media (max-width: $M) {
    transform: rotateY(0deg);
    opacity: 1;
    height: 40px;
    width: 45px;
    font-size: 20px;
    line-height: 44px;
  }
  
  >a{
    display: block;
    height: 50px;
    width: 50px;
    padding-top: 1px;
    font-size: 30px;
    line-height: 50px;
    overflow: hidden;
    color: #0a2d4a;
    text-decoration: none;
    &:hover,&:focus{
      text-decoration: none;
      color: #fff;
    }
  }
  &.dropdown.open > a {
    background: transparent;
    color: #3d4c5b;
    box-shadow: none;
  }
  .dropdown-menu {
    min-width: 49px;
    text-align: center;
    background: #3d4b5a;
    border-color: #3d4b5a;
    a{
      font-size: 22px;
      line-height: 37px;
      i{
        vertical-align: -2px;
      }
    }
  }
}
.header.affix {
  transition-delay: 300ms;
  height: 50px;
  @media (max-width: $XM) {
    height: auto;
  }
  &.outgame{
    height: auto;
    .topper{
      height: 30px;
      overflow: visible;
      &:hover{
        overflow: visible;
      }
    }
  }
  &:before{
    display: none;
  }
  .homenav{
    transition-delay: 0ms;
  }
  .topper{
    overflow: hidden;
    transition: all .3s linear .2s;
    &:hover{
      overflow: hidden;
    }
  }
  .headerwr{
    @media (max-width: 1100px) {
      padding: 0 50px;
    }
  }
  @media (min-width: $XM) {
    .topper{
      height: 0;
      overflow: hidden;
      margin-bottom: 0px;
    }
  }
  .homenav-sub li {
    &.active{
      a{
        color: #fff;
      }
    }
    a{
      color: #8da1a5;
      &:hover{
        color: #fff;
      }
    }
  }
  .tab-content{
    padding-left: 50px;
    position: relative;
    transition: all .2s linear .2s;
  }
  .gamehome{
    transform: rotateY(0deg);
    opacity: 1;
    transition: all .1s linear 300ms;
    transform-origin: 100% 0;
  }
}

/* affix END ----------------------*/











/*
  Left Bar DEP
*/
/*
.bar{
  transition: $tease;
  position: fixed 0 * 0 0;
  background-color: #191E21;
  background-image: inline(../img/tile.png);
  background-repeat: repeat;
  background-position: center;
  width: 200px;
  z-index: 100;
  @media (max-width: 1585px) {
    margin-left: 0;
  }
  @media (max-width: $XM) {
    margin-left: -50px;
  }
  .barc{
    position: absolute 0 0 0 0;
    overflow-x: auto;
  }
  .opener{
    color: color($link-blue b(30%));
    position: absolute 0 -50px * *;
    padding: 10px 3px 0 0;
    font-size: 24px;
    line-height: 1;
    text-decoration: none;
    z-index: 10;
    height: 46px;
    cursor: pointer;
    text-align: center;
    width: 50px;
    background: rgba(0, 0, 0, 0.5);
    display: block;
    @media (max-width: $XM) {
      font-size: 20px;
      line-height: 41px;
      padding: 0 3px 0 0;
      height: 40px;
      width: 40px;
      right: -40px;
    }
    &:hover,
    &:active,
    &:focus{
      color: $link-light-blue-active;
      text-decoration: none;
    }
  }
  
  .dropdown-menu{
    @media (max-height: $MH) {
      position: absolute auto 0 100% 0;
      max-height: 226px;
    }
    a{
      padding: 5px 10px;
    }
  }
  .gt-logo {
    display: block;
    padding: 15px 0;
    text-align: center;
    color: #999;
    position: relative;
    z-index: 1;
    &:before{
      content: 'beta';
      display: block;
      top: 0;
      right: -3px;
      position: absolute;
      background: #035880;
      color: #a6b1aa;
      padding: 3px 9px 3px 7px;
      line-height: 1;
      font-size: 10px;
      font-style: italic;
      transform: skewX(15deg);
    }
    @media (max-height: $XM) {
      padding: 10px 0;
    }
    img{
      width:100px;
      @media (max-height: $XM) {
        width: 70px;
      }
    }
    
    @media (max-height: $MH) {
      display:none;
    }
  }
}

.bar-menu{
  position: relative;
  &:before{
    display: block;
    content: "";
    position:absolute 0 * 0 0;
    background: #000;
    z-index: 0;
    width: 50px;
  }
}

.bar-nav-games{
  width: 50px;
  padding: 0;
  margin: 0;
  > li{
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    > a{
      transition: $tease;
      display: block;
      width: 50px;
      text-align: center;
      padding: 10px;
      opacity: .5;
      font-size: 25px;
      line-height: 1;
      text-decoration: none;
      position: relative;
      &:active,
      &:focus,
      &:hover{
        opacity: 1;
        text-decoration: none;
      }
      img{
        max-width: 100%;
      }
      i{
        display: block;
      }
      span{
        top: 16px;
        left: 66px;
        position: absolute;
        white-space: nowrap;
        font-size: 15px;
        text-transform: uppercase;
      }
    }
    &.active>a, >a:hover{
      opacity: 1;
      background: rgba(14, 130, 184, 0.24);
      i{
        &.gti-582{
          color: rgb(164, 39, 16);
        }
        &.gti-704{
          color: #dbd4c8;
        }
        &.gti-313{
          color: #d4be58;
        }
        &.gti-800{
          color: #fa9c1e;
        }
        &.gti-755{
          color: #0091d3;
        }
        &.gti-hots{
          color: #77bbcb;
        }
      }
      span{
        color: #fff;
      }
    }
  }
  &.ingame{
    > li > a{
      span{
        display: none;
      }
    }
  }
}

.bar-block{ 
  background: rgba(0, 0, 0, 0.18);
  display: block;
  padding: 5px;
  position: relative;
  min-height: 50px;
  .bar-ava{
    display: inline-block;
    float: left;
    margin: -5px;
    width: 50px;
    padding: 5px;
    background: #000;
    img{
      max-width: 100%;
      border-radius: 50%;
      display: block;
    }
  }
  &.lh{
    text-align: center;
    background: #191e21 url(../img/tile.png) repeat 2px 0;
    border-top: 1px solid #484848;
    a{
      display: inline-block;
      margin: 0;
      padding: 5px;
      color: #7faec3;
      &:hover,
      &:focus,
      &:active{
        text-decoration: none;
        color: #2faee7;
      }
      &:nth-child(1){
        border-bottom: 1px solid #484848;
      }
      i{
        font-size: 18px;
      }
      span{
        display: none;
      }
    }
  }
}
.menu-open{
  .lh{
    a{
      margin: 5px 10px;
      font-size: 12px;
      &:nth-child(1){
        border-bottom: 0;
      }
      i{
        
      }
      span{
        display: block;
      }
    }
  }
}


.bar-username{
  padding-left: 58px;
  
  .bar-name{
    color: $link-white;
    font-size: 14px;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;

    &:hover,
    &:active,
    &:focus{
      color: $link-white-active;
    }
  }
}

.bar-label{
  background-color: $green;
  color: $subgreen;
  padding: 0 3px;
  text-transform: uppercase;
  line-height: 1;
  font-size: 10px;
  border-radius: 10px;
}

.u-opt, 
.u-off{
    float: right;
    color: $link-light-blue;
    font-size: 14px;
    margin: 3px 5px;

    &:hover,
    &:active,
    &:focus{
      color: $link-light-blue-active;
      text-decoration: none;
    }
}

.bar-nav{
  padding: 5px 0 5px 50px;
  background: rgba(14, 130, 184, 0.24);
  margin: 0;

  li{
    list-style: none;
    padding: 0;
    margin: 0;
    
    a{
      display: block;
      padding: 9px 10px;
      font-size: 12px;
      font-weight: 300;
      line-height: 1;
      text-transform: uppercase;
      opacity: .6;
      
      &:active,
      &:focus,
      &:hover{
        text-decoration: none;
        color: $link-light-blue-active;
        opacity: 1;
      }
      @media (max-width: $MH) {
        padding: 9px 10px;
        font-size: 12px;
      }
    }
    &.active{
      a{
        color: #fff;
        opacity: 1;
      }
    }
    i{
      margin-right: 5px;
      font-size: 13px;
      position: relative;
      top: 2px;
      width: 30px;
      display: inline-block;
      text-align: center;
      
      @media (max-height: $MH) {
        font-size: 12px;
      }
    }
  }  
}


.hiddenbar .bng2 .bar-nav{
  background: rgba(22, 53, 69, 0.34);
  padding: 0 0 5px 0;
  position: relative auto auto auto auto;
  width: auto;
  border-bottom: 1px solid #293f4c;
}
.bng2 {
  position: relative;
  width: auto;
  background: rgba(25, 30, 33, 0.52);
  .bar-nav{
    padding: 0;
    background: rgba(0, 0, 0, 0);
    position: absolute 0 * * 50px;
    width: 150px;
    a{
      color: #a6c6cb;
    }
  }
}



.s-lang{
  float:left;
  width: 50px;
  
  .dla{
    text-transform: uppercase;
    color: $link-light-blue;
    display: block;
    padding: 15px 8px;
    font-size: 14px;
    line-height: 1;
    font-weight: 300;
    cursor: pointer;
    
    &:active,
    &:focus,
    &:hover{
      text-decoration: none;
      color: $link-light-blue-active;
    }
  }
}
.s-time{
  margin-left: 50px;
  background: rgba(0, 0, 0, 0.18);
  
  .sub{
    padding: 15px 15px;
    color: $link-light-blue;
    font-size: 13px;
    line-height: 1;
    font-weight: 300;
    display: block;
    cursor: pointer;
    opacity: .7;
    
    &:active,
    &:focus,
    &:hover{
      text-decoration: none;
      color: $link-light-blue-active;
    }
    em{
      font-style: normal;
      @media (max-width: $M) {
        display: none;
      }
    }
  }
  .caret{
    float: right;
    margin: 5px 0;
  }
}
*/

.times {
  float: right;
  display: inline-block;
  font-family: gticons;
  font-style: normal;
  &:after {
    content: '\f00d';
  }
  &:hover,
  &:focus,
  &:active{
    text-decoration: none;
  }
}

.timezone b{
  color: #c8ecff;
}

/*
.sercher {
  margin: 15px;
  position: relative;
  
  input{
    background: rgba(0, 0, 0, 0.18);
    border: 0;
    border-radius: 0;
    padding: 10px;
  }
  a{
    display: block;
    color: $link-light-blue;
    position: absolute 0 0 0 *;
    padding: 5px;
    line-height: 1;
    padding: 10px;
    opacity: .7;
    
    &:active,
    &:focus,
    &:hover{
      text-decoration: none;
      color: $link-light-blue-active;
    }
  }
}
*/

/* MOBILE MENU*/
@media (max-width: $XM){
  .swipe-area {
    position: absolute;
    width: 0;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 1000;
    &.active{
      top: 50px;
      left: 210px;
      right: 0;
      width: auto;
    }
  }
}

/*
* Footer
*/
footer{
  color: $text-gray-3;
  font-size: 12px;
  padding: 20px 15px;
  overflow: hidden;
  text-transform: uppercase;
  background: $body-bg;
    
  @media (max-width: $XXL) {
    text-align: center;
    padding: 10px;
    font-size: 9px;
  }
  @media (max-width: 1599px) {
    font-size: 11px;
  }
  
  .f-coppy{
    float: left;
    padding: 5px 0;
    @media (max-width: $XXL) {
      float: none;
    }
    copy{
      margin-right: 10px;
      display: inline-block;
    }
    span{
      margin-left: 10px;
    }
  }
  
  ul.f-menu{
    margin: 5px 0 0 20px;
    padding: 0;
    display: inline-block;
    @media (max-width: $XXL) {
      margin: 10px 0 5px;
    }
    li{
      display: inline-block;
      padding: 0 10px;
      a{
        color: $text-gray-3;
        &:active,
        &:focus,
        &:hover{
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }
  
  .f-soc{
    float: right;
    margin: 2px 0;
    
    @media (max-width: $XXL) {
      text-align:center;
      float: none;
    }
    @media (max-width: 1599px) {
      margin: 4px 0;
    }
    
    a{
      color: $text-gray-3;
      margin: 0 10px;
      font-size: 16px;
      
      &:active,
      &:focus,
      &:hover{
        text-decoration: none;
        color: #fff;
      }
      @media (max-width: 1599px) {
        margin: 0 5px;
        font-size: 12px;
      }
    }
  }
  
}

/*
.hiddenbar{
  width: 50px;
  .barc{
    top: 46px;
  }
  .opener{
    position: relative 0 0 0 0;
    @media (max-width: $XM) {
      margin-left: 50px;
    }
  }
  .gt-logo{
    margin: 0;
    padding: 0;
     &:after{
      content: "\e904";
      font-family: 'gticons' !important;
      font-size: 30px;
    }
    &:before{
      padding: 1px 3px;
      font-size: 9px;
      transform: none;
      font-style: normal;
      right: 13px;
      top: auto;
      bottom: -5px;
      background: #484848;
      border-radius: 2px;
    }
    &:hover,
    &:focus,
    &:active{
      text-decoration: none;
      color: #2faee7;
    }
    img{
      display: none;
    }
  }
  .bar-menu:before{
    display: none;
  }
  .bar-nav-games{
    float: none;
    > li{ 
      > a{
        padding: 10px;
        span{
          display: none;
        }
      }
      ul{
        a{
          padding: 10px;
        }
      }
    }
  }
  .bar-ava{
    float: none;
    padding: 10px;
    background: transparent;
    border-top: 1px solid #484848;
  }
  .bar-username{
    display: none;
  }
  .bar-nav{
    padding-left: 0;
    background: rgba(14, 130, 184, 0.24);
    a{
      color: #7faec3;
      span{
        display: none;
      }
      i{
        font-size: 16px;
      }
    }
  }
  .s-lang{
    display: none;
  }
  .s-time{
    display: none;
  }
  .sercher {
    display: none;
  }
}
*/



/**
Banners
**/
.bn{
  text-align: center;
  
  img{
    max-width: 100%;
  }
}


/*
Поправки из-за нового меню
*/
body .abg{
  top: 43px;
  @media (max-width: $XM) {
    top: 0;
  }
  .abg_i1, .abg_i2{
    top: 20px;
    &:before{
      opacity: .8;
    }
    img {
      height: 55px;
    }
  }
  .abg_md {
    width: 60px;
    height: 42px;
    top: 18px;
    margin-left: -30px;
    i{
      bottom: 1px;
    }
  }
  .kmob{
    font-size: 15px;
    bottom: 18px;
    display: block;
  }
}
.bread {
  position: relative;
  margin-left: 0;
  z-index: 3;
  background: #2a3845 url(../img/spoiler.png) repeat scroll 0 0;
  top: inherit;
  color: #678b9b;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  ol{
    height: 25px;
    li{
      a{
        color: #99a8ab;
      }
    }
    >li+li:before{
      color: #678b9b;
    }
  }
}
.matchpage{
  .bread{
    margin-bottom: 0px;
    padding-bottom: 20px;
    z-index: 2;
  }
}

