/*
* section news
*/

.block-menu{
  padding-right:15px; 
  i{
    vertical-align: middle;
  }
}
.m-news{
  .bh{
    margin: 20px 0 0 0;
    padding: 0;
    background-image: inline(../img/nav-line.png);
    background-position: 100% 100%;
    background-repeat: no-repeat;
  }
}

.tse-news{
  padding: 0 0 0 0;
  margin-top: -1px;
  
  ul.nlist{
    list-style: none;
    margin: 0;
    padding: 0;
    
    li{
      margin: 2px 0 -1px 0;
      padding: 15px 20px 15px 15px;
      border-bottom: 1px solid #454a4e;
      background: #363b40;
      position: relative;
      overflow: hidden;
      
      &:nth-child(odd){
        background: #3a3f45;
        a.npic{
          &:after{
            background: #3a3f45;
          }
        }
      }
    
      a.npic{
        width: 150px;
        position: absolute;
        top: 15px;
        bottom: 15px;
        left: 0;
        background: #37424c;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        box-shadow: -1px 0px 0 1px #454a4e inset;
        
        &:after{
          content: '';
          display: block;
          background: #363b40;
          height: 100%;
          width: 40px;
          top: 0;
          right: -20px;
          bottom: 0;
          position: absolute;
          transform: skew(-5deg);
          border-left: 1px solid #454a4e;
        }
        
        img{
          width: 100%;
        }
        b{
          top: 0;
          left: 0;
          position: absolute;
          display: block;
          padding: 4px 5px 3px 10px;
          background: #424f5a;
          color: #fff;
          font-size: 14px;
          
          &:after {
            content: '';
            display: block;
            background: #424f5a;
            height: 100%;
            width: 8px;
            top: 0;
            right: -4px;
            bottom: 0;
            position: absolute;
            transform: skew(-5deg);
          }
          i.gti-gt {
            font-size: 25px;
            line-height: 1;
            display: block;
          }
        }
      }
      
      a.nopic{
        float:left;
        width: 140px;
        position: relative;
        padding: 25px 0;
        border: 1px solid #454a4e;
        text-align: center;
        background: #37424c url("../img/spoiler.png") repeat scroll 0 0;
        color: #7faec3;
        transform: skewX(-5deg);
        left: -40px;
        
        i{
          font-size: 30px;
          transform: skewX(5deg);
          display: block;
        }
        &:hover,
        &:active,
        &:focus{     
          text-decoration: none;
        }
      }
      
      > div{
        margin-left: 140px;
        
        h4{
          padding: 0;
          margin: 0;
          font-size: 16px;
          font-weight: 600;
          a{
            color: #9bb0c5;
            text-decoration: none;
            &:hover,
            &:active,
            &:focus{     
              color: #c1d8f0;
            }
          }
          span{
            color: color($green l(50%));
            font-weight: bold;
            margin-left: 10px;
            float: right;
            
            i{
              font-size: 16px;
            }
          }
        }
        p{
          color: #e8e8e8;
          margin: 5px 0;
          line-height: 1.4;
          font-size: 13px;
          transition: $tease;
        }
        u{
          text-decoration: none;
          color: color($text-gray-3 l(80%));
          font-size: 11px;
          float: right;
          padding-top: 3px;
          i{
            font-size: 16px;
            vertical-align: text-bottom;
          }
        }
        > span{
          font-size: 12px;
          line-height: 16px;
          i{
            font-size: 13px;
          }
        }
      }
      
      &:hover,
      &:active,
      &:focus{     
        p{
          color: #e8e8e8;
        }
      }
      
      &.nopic{
        div{
          margin-left: 0;
        }
      }
      &.hot:before{
        content: '';
        display: block;
        background: #ea6465;
        height: 100%;
        width: 3px;
        top: 0;
        right: 0px;
        bottom: 0;
        position: absolute;
      }
    }/*li*/
    
  }
}


.tse-sc{
  ul.nlist{
    padding: 0 20px 0 0;
    li{
      padding: 25px 20px 25px 10px;
    }
  }
}
