/*
  players.html LIST
*/

.temsList.playerList {
  .mtable {
    .t-item {
      td{
        &:nth-child(1){
          text-align: left;
          padding-left: 20px;
        }
        &:nth-child(3){
          text-align: left;
        }
        &:last-child{
          text-align: right;
          padding-right: 10px;
        }
        h4 {
          font-size: 12px;
          .logo{
            float: left;
          }
        }
      }
    }
  }
}

.fightsPlayers{
  .bestKill{
    a{
      >span{
        u{
          s{
            text-decoration: none;
            opacity: .5;
            font-size: .8em;
          }
        }
        >s{
          position: absolute 3px 5px * *;
          font-size: 11px;
          text-decoration: none;
          display: block;
          width: 60px;
          white-space: nowrap;
        }
        >i{
          position: absolute -15px 5px * *;
          color: yellow;
          font-size: 11px;
          font-style: normal;
          display: block;
          width: 60px;
          white-space: nowrap;
        }
      }
      >div{
        padding: 5px 0 0 0;
        position: relative;
        .teamHeroes {
          display: block;
          margin: 0 15px;
          background: #424f5a;
          overflow: hidden;
          border: 1px solid #424f5a;
          margin-bottom: -2px;
          
          u {
            margin: 0;
            border: 1px solid #424f5a;
            display: block;
            width: 20%;
            float: left;
            position: relative;
            overflow: hidden;
            min-height: 30px;
            background: #39454e;
            
            img {
              width: 100%;
              height: auto;
            }
            &.dead {
              img {
                opacity: .5;
                filter: grayscale(1);
                transition: $tease;
              }
              &:after {
                content: '';
                top: 50%;
                right: -10px;
                position: absolute;
                display: block;
                height: 1px;
                width: 125%;
                background: #c50c0c;
                transform: rotate(30deg);
              }
              &:hover{
                img{ 
                  opacity: 1;
                  filter: grayscale(0);
                }
                &:after{
                  opacity: 0;
                }
              }
            }
          }
        }
      }
    }
  }  
}

.grid {
  background: #37424c url(../img/spoiler.png) repeat scroll 0 0;
  padding: 30px 30px;
  
  >row{
    > div{
      display: inline-block;
      vertical-align: top;
    }
  }
}

/*
player.html
*/

.pAva{
    background: #37424c url(../img/spoiler.png) repeat scroll 0 0;
    margin-bottom: 15px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  .playerava{
    text-align: center;
    
    img{
      display: inline-block;
      max-width: 100%;
    }
  }
  .pInf{
    padding: 15px;
    position: relative;
    .pt{
      display: block;
      position: absolute -45px 10px * *;
      background: #424d56;
      border-radius: 50%;
      text-align: center;
      width: 90px;
      line-height: 90px;
      img{
        width: 60px;
      }
    }
    h2{
      padding-right: 80px;
      font-size: 21px;
      margin: 0 0 5px 0;
    }
    h3{
      
      font-size: 13px;
      color: #999;
      margin: 0 0 5px 0;
    }
    p{
      font-size: 12px;
      color: #999;
      
      img{
        margin: 0 5px;
        width: 20px;
      }
    }
  }
  .niks{
    font-size: .8em;
    color: #c8c8c8;
    
    b{
      display: block;
      color: #fff;
      margin-bottom: 1px;
      font-size: 1.2em;
    }
  }
  .pRate{
    background: #424d56;
    padding: 15px;
    
    table{
      width: 100%;
      table-layout: fixed;
      text-align: center;
      
      label{
        display: block;
        font-size: 10px;
        text-transform: uppercase;
        margin-bottom: 0;
      }
      b{
        color: #fff;
        font-size: 30px;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4), 0 0 8px #42a6b8;
      }
    }
  }
}



