/*page-user.css*/
.loginpage{
  position: inherit;
}
.login{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login-form{
  position: relative;
  z-index: 1;
  width: 400px;
  margin: auto;
  .panel-light.panel{
    padding: 20px;
    .panel-heading{
      border-bottom: 0;
      background: transparent!important;
    }
  }
}

.profile-img-card {
  width: 120px;
  height: 120px;
  margin: 0 auto 10px;
  display: block;
  border-radius: 50%;
}
.panel .input-group .input-group-btn .btn,
.panel .input-group .input-group-addon {
  min-width: 46px;
  box-shadow: none;
}
/*
.sponsors{
  text-align: center;
  margin-top: 30px;
  img{
    width: 100px;
    filter: grayscale(1);
    opacity: .7;
    margin: 0 30px;
  }
}
*/
.soc-enter{
  padding: 10px 0 0 0;
  .mlh{
    padding: 0px 0px 10px;
  }
  .row{
    margin-right: -5px;
    margin-left: -5px;
    > div{
      padding-right: 5px;
      padding-left: 5px;
    }
  }
  .btn{
    display: block;
    text-align: center;
    @media (max-width: $M) {
       margin-bottom: 5px
    }
    span{
      display: none;
        @media (max-width: $M) {
          display: inline;
          margin-left: 5px;
        }
    }
  }
  .btn-vk{
    background: #45668e;
    color: #fff;
    &:hover{
      background: #38567b;
    }
  }
  .btn-fb{
    background: #3b5998;
    color: #fff;
    &:hover{
      background: #2f4980;
    }
  }
  .btn-gp{
    background: #dd4b39;
    color: #fff;
    &:hover{
      background: #c13d2d;
    }
  }
  .btn-steam{
    background: #4D4B48;
    color: #fff;
    &:hover{
      background: #3e3c39;
    }
  }
}

.user-ac{
  position: relative;
  overflow: hidden!important;
  background-position: 50% -30px!important;
  box-shadow: 0px -15px 20px 0px rgba(0, 0, 0, 0.1) inset,  0 0 0 1px rgb(68, 75, 80)!important;
  
  .heroBg:before{
    opacity: .3!important;
  }
  > div{
    position: relative;
    z-index: 2;
  }
  h1{
    margin-bottom: 10px;
    @media (max-width: $M) {
      text-align: center !important;
    }
  }
  .nav-user {
    > li > a{
      padding: 6px 15px;
      border-bottom: transparent;
      margin: 0 5px;
      font-size: 11px;
      line-height: 20px;
      i {
        display: inline-block;
        font-size: 16px;
        height: 20px;
        line-height: 20px;
        margin-right: 15px;
        position: relative;
        top: 3px;
      }
    }
    > li.active > a,
    > li > a:hover,
    > li > a:focus,
    > li > a:active{
      background: #1f3d4c url(../img/spoiler.png) repeat 0 0;
      border-color: transparent !important;
      box-shadow: none;
      color: #7faec3;
      outline: none;
    }
    u {
      font-weight: 700;
      text-decoration: none;
      text-transform: uppercase;
      white-space: nowrap;
    }
  }

  .panel-light.panel .panel-heading{
      border-bottom: 0;
  }
  .umoney {
    text-align: center;
    font-size: 25px;
    padding-bottom: 20px;
    color: #7faec3;
    margin-top: -10px;
    i{
      margin-right: 5px;
    }
  }
  .umoney-btn{
    text-align: center;
    margin-bottom: -5px;
    .btn{
      margin-bottom: 5px;
    }
  }
  .payment{
    border: 1px solid #3e5965;
    background: #1f3d4c url(../img/spoiler.png) repeat 0 0;
    margin-bottom: 0;
    .panel-body{
      padding: 15px;
    }
    table{
      td{
        padding: 5px 10px;
        font-size: 11px;
      }
    }
  }
  .nav-pager{
    border-top: 0;
    .pagination li{
      a{
        background: #34393e;
      }
      &.active a{
        background: #3e5965;
        border-color: #3e5965;
      }
    }
  }
}
.user-menu{
  float: left;
  width: 200px;
  @media (max-width: $M) {
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }
}
.user-body{
  min-height: 400px;
  margin-left: 220px;
  @media (max-width: $M) {
    margin-left: 0px;
    min-height: auto;
  }
  .notActive{
    filter: grayscale(1);
    &:hover,&:focus,&:active{
      filter: grayscale(0);
    }
  }
  .mlh{
    padding: 10px 0;
    margin: 0;
  }
}

.ctd{
  text-align: center;
}
.makefirstonmobile{
  float: right;
  @media (max-width: $XM) {
    float:none;
  }
}

.block-ava{
  .panel-body{
    padding: 0 30px 15px!important;
  }
  .uava{
    width: 60px;
    display: inline-block;
    margin: 0 10px 0 -10px;
    border-radius: 50%;
    height: 60px;
    overflow: hidden;
    vertical-align: middle;
    box-shadow: 0 0 20px rgba(82, 212, 255, 0.22), 0 0 0 2px rgba(82, 212, 255, 0.22);
    background: #1f3d4c url(../img/spoiler.png) repeat 0 0;
    line-height: 60px;
    img {
      width: 100%;
    }
  }
  .button-ulogo1{
    position: relative;
  }
  .uava-btns{
    
  }
  .uavaload{
    display: inline-block;
    vertical-align: middle;
    width: 245px;
    margin-right: -10px;
    >div{
      width: auto;
    }
    .progress{
      height: 13px;
      margin-bottom: 9px;
      .progress-bar{
        font-size: 11px;
        line-height: 14px;
      }
    }
  }
  .imgframe{
    margin: 20px 15px 0 70px;
    text-align: center;
    border: 1px dashed #376170;
    padding: 10px 0;
    p{
      color: #7eb6ca;
      font-size: 11px;
    }
    img{
    }
  }
}


/*loader*/
.loader {
  margin: 0 auto;
}





