{% set title = "Игроки дота 2. Рейтинг игроков Dota 2" %}

{% set team = ['Wings', 'OG', ' Evil Geniuses', 'EHOME', 'NewBee', 'Virtus.Pro'] %}
{% set flag = ['1', '2', '3', '4', '5', '6'] %}
{% set rate = ['1,744', '1,622', '1,511', '1,497', '1,496', '1,469', '—'] %}

<!DOCTYPE html>
<html>
{% include "template/head.html" %}
<body class="">
  <div class="container mainwrap">
    {% include "template/breadcrumbs.html" %}
    <div class="otstup">
      <section class="hero" data-orig-offset="0" style="background-image:url(../img/headpic.jpg);">
        <h1 class="mh"><span>Рейтинг игроков <a href="/dota-2">DOTA 2</a></span></h1>
        <p>В данном разделе представлены все профессиональные игроки Dota 2. Для некоторых из них так же указан их индивидуальный рейтинг (Solo MMR)</p>
      </section>
      <section class="m-sec m-even">
        <div class="row">
          <div class="col-md-8">
            
            
            
          </div>
          <div class="col-md-4">
            
            <div class="pAva">
              <span class="playerava">
                  <img alt="Miracle-" src="http://game-tournaments.com/media/logo/pic-20151127-294x196-3464574203.jpeg">
              </span>
              <div class="pInf">
                <a class="pt" href="#"><img src="http://game-tournaments.com/media/logo/_60/pic-20161027-600x600-9332827152.png" alt="Liquid"></a>
                <h2>Miracle</h2>
                <h3>Amer al-Barqawi, 23 года</h3>
                <p>
                   Иордания <img src="http://game-tournaments.com/media/flag/48.png"><br>
                  <b>Команда: <a href="">Team Liquid</a></b>
                </p>
                <div class="niks">
                  <b>Играл под никами:</b>
                   Miracle-, KnowledgeIsPower, 123, Weew, Mamacita, M.., NevaEvaMoonBabe, :], WarChiLD-, LMAO, Dylan, OG.Miracle-.DO, Liquid`Miracle-, Miracle-RyOuta
                </div>
              </div>
              <div class="pRate">
                <table>
                  <tr>
                    <td>
                      <label>SOLO MMR</label>
                      <b>9681</b>
                    </td>
                    <td>
                      <label>форма</label>
                      <b>200%</b>
                    </td>
                  </tr>
                </table>
                
                
              </div>
            </div>
            
            {% include "template/liveblock.html" %}
            {% include "template/blockzames-vertical.html" %}

          </div>
        </div>
      </section>

      {#
      <section id="m-news" class="m-sec m-even">
        <div class="row">
          <div class="col-md-7">
            {% include "template/match-page/section-news.html" %}
          </div>
          <div class="col-md-5">
            {% include "template/match-page/section-soc.html" %}
          </div>
        </div>
      </section>
      #}

      <section id="m-zames" class="m-sec m-even m-zames">
        {% include "template/blockzames.html" %}
      </section>

      <div class="bn">
        <img src="../img/ad.jpg" alt="">
      </div>
      {% include "template/footer.html" %}
    </div>
  </div>
{% include "template/branding.html" %}
{% include "template/bar.html" %}
{% include "template/modal.html" %}
{% include "template/scripts.html" %}

</body>
</html>