{% set title = "Игроки дота 2. Рейтинг игроков Dota 2" %}

{% set team = ['Wings', 'OG', ' Evil Geniuses', 'EHOME', 'NewBee', 'Virtus.Pro'] %}
{% set logo = ['pic-20161110-600x600-7320131375.png', 'pic-20161110-300x300-2206743285.png', 'pic-20161110-600x600-5478339632.png', 'pic-20161110-500x500-918003572.png', 'pic-20161110-600x450-6323255579.png'] %}
{% set flag = ['1', '2', '3', '4', '5', '6'] %}
{% set rate = ['1,744', '1,622', '1,511', '1,497', '1,496', '1,469', '—'] %}
{% set vid_type = ['самый массовый замес', 'больше всех убил один герой', 'самый большой камбек'] %}

{% set hero = ['sniper_sb.png', 'sven_hphover.png', 'rattletrap_hphover.png','vengefulspirit_hphover.png','gyrocopter_hphover.png','ember_spirit_hphover.png','medusa_hphover.png'] %}

<!DOCTYPE html>
<html>
{% include "template/head.html" %}
<body class="pagePlayer">

<script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<script>
/*!
* jquery.counterup.js 1.0
*
* Copyright 2013, Benjamin Intal http://gambit.ph @bfintal
* Released under the GPL v2 License
*
* Date: Nov 26, 2013
*/(function(e){"use strict";e.fn.counterUp=function(t){var n=e.extend({time:400,delay:10},t);return this.each(function(){var t=e(this),r=n,i=function(){var e=[],n=r.time/r.delay,i=t.text(),s=/[0-9]+,[0-9]+/.test(i);i=i.replace(/,/g,"");var o=/^[0-9]+$/.test(i),u=/^[0-9]+\.[0-9]+$/.test(i),a=u?(i.split(".")[1]||[]).length:0;for(var f=n;f>=1;f--){var l=parseInt(i/n*f);u&&(l=parseFloat(i/n*f).toFixed(a));if(s)while(/(\d+)(\d{3})/.test(l.toString()))l=l.toString().replace(/(\d+)(\d{3})/,"$1,$2");e.unshift(l)}t.data("counterup-nums",e);t.text("0");var c=function(){t.text(t.data("counterup-nums").shift());if(t.data("counterup-nums").length)setTimeout(t.data("counterup-func"),r.delay);else{delete t.data("counterup-nums");t.data("counterup-nums",null);t.data("counterup-func",null)}};t.data("counterup-func",c);setTimeout(t.data("counterup-func"),r.delay)};t.waypoint(i,{offset:"100%",triggerOnce:!0})})}})(jQuery);
  
jQuery(document).ready(function($) {
    $('.counter').counterUp({
        delay: 10,
        time: 500
    });
});
</script>

<script src="../inc/assets/js/highcharts.js"></script>
<script src="../inc/assets/js/highcharts-more.js"></script>
<!--
<script src="../inc/assets/js/highcharts-exporting.js"></script>
-->
<script src="../inc/assets/js/highcharts-theme.js"></script>
<script>
/* Player spider graph*/
$(function () {

    $('#spider_chart_player').highcharts({
        colors: ["#3f79a2", "#d94c4c", "#2d6185", "#b63b3b"],
        chart: {
            polar: true,
            type: 'line',
            backgroundColor: 'none',
            spacingBottom: 5,
            spacingTop: 5,
            spacingLeft: 0,
            spacingRight: 0
        },
        title: {
            text: '',
            x: -80
        },
        pane: {
            size: '95%'
        },
        plotOptions: {
            series: {
              title:''
            }
        },
        credits: {
          enabled: false
        },
        xAxis: {
            categories: ['Mid', 'Safe', 'Hard', 'Jungle', 'Roaming'],
            tickmarkPlacement: 'on',
            lineWidth: 0,
            labels: {
                style: {
                  textTransform: 'uppercase',
                  color: '#c7c7c7'
                }
            }
        },
        yAxis: {
            gridLineInterpolation: 'polygon',
            //lineWidth: 0,
            tickInterval: 2,
            min: 0,
            max: 100,
            title: {
              enabled: true
            },
            labels: {
               enabled: true
            },
            plotBands: [{ // visualize
                from: 0,
                to: 20,
                color: 'rgba(68, 118, 213, 0.1)'
            },
            {
                from: 20,
                to: 40,
                color: 'rgba(68, 118, 213, 0.05)'
            },
            {
                from: 40,
                to: 60,
                color: 'rgba(68, 118, 213, 0.1)'
            },
            {
                from: 60,
                to: 80,
                color: 'rgba(68, 118, 213, 0.05)'
            },
            {
                from: 80,
                to: 100,
                color: 'rgba(68, 118, 213, 0.1)'
            },
            ]
        },
        plotOptions: {
            series: {
                fillOpacity: 0.5
            }
        },
        tooltip: {
            shared: true,
            pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y:,.0f}</b><br/>'
        },
        legend: {
            enabled: false
        },
        series: [{
            name: 'Line',
            type: 'area',
            data: [20, 10, 15, 15, 40],
            pointPlacement: 'on'
        }]

    });
});

/* Player role graph line*/
$(function () {
    $('#playerRole').highcharts({
        colors: ["#3f79a2", "#d94c4c", "#2d6185", "#b63b3b"],
        chart: {
          type: 'bar',
          backgroundColor: 'none',
          spacingBottom: 5,
          spacingTop: 5,
          spacingLeft: 0,
          spacingRight: 0
        },
        credits: {
          enabled: false
        },
        xAxis: {
           categories: ['Role'],
           lineWidth: 0,
           minorGridLineWidth: 0,
           lineColor: 'transparent',
           labels: {
               enabled: false
           },
          title: {
            enabled: false
          },
         minorTickLength: 0,
         tickLength: 0,
          
        },
        yAxis: {
           lineWidth: 0,
           minorGridLineWidth: 0,
           lineColor: 'transparent',
           labels: {
               enabled: false
           },
          title: {
            enabled: false
          },
           minorTickLength: 0,
           tickLength: 0
        },
        title: {
            enabled: false,
            text:''
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
              stacking: 'percent',
              crop: false,
              title:'',
              pointPadding: 0.01,
              groupPadding: 0.1
            }
        },
        tooltip: {
            headerFormat: '',
            useHTML: true,
            pointFormat: '{series.name}<br>{point.name}: {point.y}'
        },
        series: [{
            name: 'Core',
            data: [
                  ['Role', 80]
            ],
            index: 4
        }, {
            name: 'Support',
            data: [
                  ['Role', 20]
            ],
            index: 3
        }]
    });
});  

</script>
 
  <div class="container mainwrap">
    {% include "template/breadcrumbs.html" %}
    <div class="otstup">
      
      <section class="hero" style="background-image:url(../img/headpic.jpg); height:auto;">
        <a href="" class="btn pull-right btn-default">Все игроки</a>
        <h1><span>Карточка игрока <a href="/dota-2">DOTA 2</a> Miracle</span></h1>
      </section>
      
      
      <section class="m-sec m-even plCard">
        <div class="row">
          <div class="col-sm-4">
            <div class="pAva">
              <div class="pAvaBg">
                <span class="playerava">
                    <img alt="Miracle-" src="http://game-tournaments.com/media/logo/pic-20151127-294x196-3464574203.jpeg">
                </span>
                <div class="pInf">
                  <a class="pt" href="#"><img src="http://game-tournaments.com/media/logo/_60/pic-20161027-600x600-9332827152.png" alt="Liquid"></a>
                  <h2>Miracle <b class="badge tip" title="Место в рейтинге">#1</b></h2>
                  <h3>Amer al-Barqawi, 23 года</h3>
                  <p>
                     Иордания <img src="http://game-tournaments.com/media/flag/48.png"><br>
                    <b>Команда: <a href="">Team Liquid</a></b>
                  </p>
                  <div class="niks">
                    <b>Играл под никами:</b>
                     Miracle-, KnowledgeIsPower, 123, Weew, Mamacita, M.., NevaEvaMoonBabe, :], WarChiLD-, LMAO, Dylan, OG.Miracle-.DO, Liquid`Miracle-, Miracle-RyOuta
                  </div>
                </div>
                <div class="pRate">
                  <table>
                    <tr>
                      <td>
                        <label>SOLO MMR <i class="gti-question-circle tip" title="О параметре"></i></label>
                        <b><span class="counter">9681</span></b>
                      </td>
                      <td>
                        <label>форма <i class="gti-question-circle tip" title="Форма показывает насколько хороши текущие показатели игрока (последние 15 игр), относительно его средних показателей (последние 50 игр)"></i></label>
                        <b><span class="counter">150</span>%</b>
                        <div class="progress progress-small">
                            <div class="progress-bar progress-bar-primary" style="width:50%">
						    <span class="sr-only">100% форма</span>
                          </div>
                          <div class="progress-bar progress-bar-success" style="width:28%">
                            <span class="sr-only">up 28% форма</span>
                          </div>
					    </div>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="fans">
                  <a href="" class="btn btn-primary"><i class="gti-flag-o"></i>Подписаться</a><b>123 фанов</b>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="maingraph">
              <h3 class="mlh mlhSM"><span>ПОЗИЦИЯ</span></h3>
              <div class="pRd">
                <div id="playerRole" class="playerRole"></div>
                <span>Core 80%</span>
                <b>Support 20%</b>
              </div>
              <h3 class="mlh mlhSM"><span>ЛИНИЯ</span></h3>
              <div id="spider_chart_player" class="spider_chart_player"></div>
            </div>
            <div class="pRate">
              <table>
                <tbody><tr>
                  <td>
                    <label>Число игр</label>
                    <b><span class="counter">961</span></b>
                  </td>
                  <td>
                    <label>MVP <i class="gti-question-circle tip" title="О параметре"></i></label>
                    <b><span class="counter">20</span>%</b>
                    <div class="progress progress-small">
                      <div class="progress-bar progress-bar-primary" style="width:20%">
                        <span class="sr-only">20% MVP</span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <label>Fights <i class="gti-question-circle tip" title="О параметре"></i></label>
                    <b><span class="counter">167</span>%</b>
                    <div class="progress progress-small">
    				    <div class="progress-bar progress-bar-primary" style="width:50%">
    				      <span class="sr-only">100%</span>
    				    </div>
    				    <div class="progress-bar progress-bar-success" style="width:28%">
                          <span class="sr-only">up 67% Fights</span>
                        </div>
    				</div>
                  </td>
                  <td>
                    <label>Inactivity <i class="gti-question-circle tip" title="О параметре"></i></label>
                    <b><span class="counter">41</span>%</b>
                    <div class="progress progress-small">
    				    <div class="progress-bar progress-bar-primary" style="width:20%">
    				      <span class="sr-only">41%</span>
    				    </div>
    				</div>
                  </td>
                </tr>
              </tbody></table>
            </div>
          </div>
        </div>
      </section>
      <section class="m-sec m-odd pTeams">
        <h3 class="mlh mlhSM"><span>Команды за которые играл Miracle</span></h3>
        <div class="row">
          {% for i in 0..2 %}
            <div class="col-md-4">
                <div class="pTeam">
                  <figure class="teamLogo">
                     <a class="pt" href="#"><img src="http://game-tournaments.com/media/logo/_60/{{random(logo)}}" alt="{{random(team)}}"></a>
                  </figure>
                  <div>
                    <b><a href="">{{random(team)}}</a></b>
                    <em>Период: 10/11/15 - 10/11/16</em>
                    <u>Матчей: 211</u>
                    <s>Роль: core</s>
                  </div>
                </div>
            </div>
          {% endfor %}
        </div>
      </section>
      
      <section class="m-sec m-even">
        <h3 class="mlh mlhSM"><span>Последние матчи Miracle</span></h3>
        {% include "template/players/player-games.html" %}
        {% include "template/pager.html" %}
      </section>
      
      <section id="m-zames" class="m-sec m-odd m-zames">
        {% include "template/players/player-blockzames.html" %}
      </section>
      
      <section id="m-news" class="m-sec m-even">
        <div class="row">
          <div class="col-md-7">
            {% include "template/match-page/section-news.html" %}
          </div>
          <div class="col-md-5">
            {% include "template/match-page/section-soc.html" %}
          </div>
        </div>
      </section>
      
      <div class="bn">
        <img src="../img/ad.jpg" alt="">
      </div>
      {% include "template/footer.html" %}
    </div>
  </div>
{% include "template/branding.html" %}
{% include "template/bar.html" %}
{% include "template/modal.html" %}
{% include "template/scripts.html" %}

</body>
</html>