{% set title = "Игроки дота 2. Рейтинг игроков Dota 2" %}

{% set team = ['Wings', 'OG', ' Evil Geniuses', 'EHOME', 'NewBee', 'Virtus.Pro'] %}
{% set flag = ['1', '2', '3', '4', '5', '6'] %}
{% set rate = ['1,744', '1,622', '1,511', '1,497', '1,496', '1,469', '—'] %}

<!DOCTYPE html>
<html>
{% include "template/head.html" %}
<body class="">
  <div class="container mainwrap">
    {% include "template/breadcrumbs.html" %}
    <div class="otstup">
      <section class="hero" data-orig-offset="0" style="background-image:url(http://i14.kanobu.ru/r/5d11085f868efa534316ebe19e4d3515/1040x-/u.kanobu.ru/editor/images/35/319b477e-c671-4459-88e2-1f628c4a661b.jpg);">
        <h1 class="mh"><span>Рейтинг команд <a href="/dota-2">DOTA 2</a></span></h1>
        <p>В данном разделе представлены все профессиональные игроки Dota 2. Для некоторых из них так же указан их индивидуальный рейтинг (Solo MMR)</p>
      </section>
      <section class="m-sec m-even">
        <div class="row">
          <div class="col-sm-8">
            
            
            
          </div>
          <div class="col-sm-4">
            
            {% include "template/liveblock.html" %}
            {% include "template/blockzames-vertical.html" %}

          </div>
        </div>
      </section>

      {#
      <section id="m-news" class="m-sec m-even">
        <div class="row">
          <div class="col-md-7">
            {% include "template/match-page/section-news.html" %}
          </div>
          <div class="col-md-5">
            {% include "template/match-page/section-soc.html" %}
          </div>
        </div>
      </section>
      #}

      <section id="m-zames" class="m-sec m-even m-zames">
        {% include "template/blockzames.html" %}
      </section>

      <div class="bn">
        <img src="img/ad.jpg" alt="">
      </div>
      {% include "template/footer.html" %}
    </div>
  </div>
{% include "template/branding.html" %}
{% include "template/bar.html" %}
{% include "template/modal.html" %}
{% include "template/scripts.html" %}

</body>
</html>