{% set title = "Турнир ТАКОЙТО Dota 2" %}

{% set team = ['Wings', 'OG', ' Evil Geniuses', 'EHOME', 'NewBee', 'Virtus.Pro'] %}
{% set flag = ['1', '2', '3', '4', '5', '6'] %}
{% set rate = ['1,744', '1,622', '1,511', '1,497', '1,496', '1,469', '—'] %}

<!DOCTYPE html>
<html>
{% include "template/head.html" %}
<body class="">
  <div class="container mainwrap">
    {% include "template/breadcrumbs.html" %}
    <div class="otstup">
      <section class="hero pageTourHero" style="background-image:url(http://ggscore.com/media/tournament/pic-20160831-478x178-7586446600.jpeg);">
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-sm btn-border dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Предыдущие сезоны WESG<span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">2016</a></li>
          <li><a href="#">2015</a></li>
          <li><a href="#">2014</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Что-то другое</a></li>
        </ul>
      </div>
      <div class="stage">
        <em><b>3</b>China <span class="caret"></span></em>
        <ul>
          <li class="s-pass"><a href=""><b>1</b><span>Квалификация</span></a></li>
          <li class="s-pass"><a href=""><b>2</b><span>Групповой раунд</span></a></li>
          <li class="active"><a href=""><b>3</b><span>China</span></a></li>
          <li><a href=""><b>4</b><span>China #2</span></a></li>
          <li><a href=""><b>5</b><span>America</span></a></li>
          <li><a href=""><b>6</b><span>America #2</span></a></li>
          <li><a href=""><b>7</b><span>SEA</span></a></li>
          <li><a href=""><b>8</b><span>SEA #2</span></a></li>
          <li><a href=""><b>9</b><span>Europe</span></a></li>
          <li><a href=""><b>10</b><span>Europe #2</span></a></li>
          <li><a href=""><b>11</b><span>Финал</span></a></li>
        </ul>
      </div>
      <!--<h1><span>WESG</span></h1>-->
    </section>
      <section class="t-top m-sec">
        <div class="row">
          <div class="col-md-4">
            <div class="t-card">
              <div class="t-card-bg">
                <span class="tLogo">
                  <img src="http://ggscore.com/media/tournament/pic-20160831-478x178-7586446600.jpeg" alt="WESG">
                </span>
                <div class="pInf">
                  <h1 class="mlh"><span>Dota 2 турнир WESG</span></h1>
                  <table>
                    <tbody>
                      <tr>
                        <td width="200px">Турнир проводится</td>
                        <td>с 12 января, 2017</td>
                      </tr>
                      <tr>
                        <td>Призовой фонд</td>
                        <td><b>$ 1,700,000</b></td>
                      </tr>
                      <tr>
                        <td>Команд участвует</td>
                        <td>42</td>
                      </tr>
                    </tbody>
                  </table>
                  <p>
                    Турнир World Electronic Sports Games проводится китайским интернет-гигантом Alibaba Group. Эта организация решила провести самый масштабный киберспортивный турнир в мире. И это у них получилось.
                    </p><p>
                    Призовой фонд региональных отборочных в Европе и СНГ составит $205,000, а 8 лучших команд по Dota 2 и CS:GO и 8 сильнейших игроков по индивидуальным дисциплинам — HearthStone и StarCraft 2 — отправятся на WESG Global Grand Final, который пройдёт с 6-го по 9-ое октября в Киеве, Украина, а призовой фонд которого $3,7 млн.
                  </p>
                </div>
                <div class="fans">
                  <a href="#" class="btn btn-primary tip" title="Подписаться на новости и уведомления о матчах"><i class="gti-flag-o"></i>Подписаться</a>
                </div>
              </div>
              </div>
          </div>
          <div class="col-md-8">
            
          </div>
        </div>
      </section>
      
      <section class="m-sec m-even">
        <h3 class="mlh"><span>Блок</span></h3>
      </section>
      
      <section class="grid">
        {% include "template/players/blockzames-grid.html" %}
      </section>
      
      {#
      <section id="m-news" class="m-sec m-even">
        <div class="row">
          <div class="col-md-7">
            {% include "template/match-page/section-news.html" %}
          </div>
          <div class="col-md-5">
            {% include "template/match-page/section-soc.html" %}
          </div>
        </div>
      </section>
      #}
      {#
      <section id="m-zames" class="m-sec m-even m-zames">
        {% include "template/blockzames.html" %}
      </section>
      #}
      <div class="bn">
        <img src="../img/ad.jpg" alt="">
      </div>
      {% include "template/footer.html" %}
    </div>
  </div>
{% include "template/branding.html" %}
{% include "template/bar.html" %}
{% include "template/modal.html" %}
{% include "template/scripts.html" %}

</body>
</html>